[Unit]
Description=Radcontrold health check
After=syslog.target network.target
Documentation=https://github.com/davea/radcontrold

[Service]
ExecStart=/usr/local/bin/pipenv run python health_check.py
WorkingDirectory=/home/pi/radcontrold
User=pi
Group=pi
SyslogIdentifier=radcontrold_health_check
StandardOutput=syslog
Type=oneshot
